/* Write your CSS here */
.container {
  background-color: #1e293b;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 80px;
}
.description {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 45px;
}
.button {
  color: #1e293b;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 10px;
  font-family: 'Bree Serif';
}
